@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling when drawing */
    touch-action: none; /* Prevent browser gestures */
}
